{% block content %} {% if error_message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error_message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif %} {% if request.user.is_authenticated is True %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
<input type="hidden" id="form_id" value="{{ form.id }}" />
<input type="hidden" id="version_id" value="{{ version.version_id }}" />
<input type="hidden" id="version_object_id" value="{{ version.id }}" />

<div class="container-sm">
  <div class="d-flex justify-content-between">
    <div>
      <div style="display: inline-flex">
        <a class="edition-only" href="#">
          <h4 class="card-title">{{form.name}}</h4>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex mb-2 justify-content-between">
    <div></div>
    <div>
      {% if not version.is_active %}
      <button
        type="button"
        class="btn btn-sm btn-primary"
        id="btn-mark-active-version"
      >
        <i class="bi bi-bookmark-star"></i>
        Set as active version
      </button>
      {% else %}
      <button
        type="button"
        class="btn btn-sm btn-primary"
        id="btn-create-version"
      >
        <i class="bi bi-pencil"></i>
        Create editable version
      </button>
      {% endif %}
      <button type="button" class="btn btn-sm btn-secondary" id="btn-view-json">
        <i class="bi bi-filetype-json"></i>
        View JSON
      </button>
    </div>
  </div>

  {% if success == True %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Form created successfully
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}

  <div id="example"></div>
  <div class="container" style="margin-top: 50px">
    <div id="form-editor-container"></div>
  </div>
</div>
<script src="/static/pages/js/forms_editor.js"></script>
<!-- USE_DEV
DEV_URL -->
{% if USE_DEV %}
<link rel="stylesheet" href="{{DEV_URL}}/css/app.css" />
<script src="{{DEV_URL}}/js/app.js"></script>
{% else%}
<link rel="stylesheet" href="/static/form_builder/css/app.css" />
<script src="/static/form_builder/js/form-builder.js"></script>
{% endif %}
<script>
  $(() => {
    const form_id = $("#form_id").val();
    const version_id = $("#version_id").val();
    const version_object_id = $("#version_object_id").val();

    forms_editor.init({ form_id, version_id, version_object_id });

    $("#btn-mark-active-version").on("click", () => {

      forms_editor.api.markActiveVersion(form_id, version_id)
        .then((response) => {
          if (response.success) {
            window.location.reload();
          } else {
            alert("Failed to mark as active version: " + response.message);
          }
        })
        .catch((error) => {
          console.error("Error marking active version:", error);
          alert("An error occurred while marking the active version.");
        });
    });

    $("#btn-view-json").on("click", function () {
      const versionFile = $("#version_data").data("version-file");
      const url = `${window.location.origin}/${versionFile}`;
      window.open(url, "_blank").focus();
    });
  });
</script>
{% else %}
<div class="container">
  <div class="alert alert-danger" role="alert">
    <p>Permission Denied.</p>
  </div>
</div>
{% endif %} {% endblock %}
